body {
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#ffd6ec,#ffe8f5);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.contenedor {
background: white;
padding: 30px;
border-radius: 15px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
width: 550px;
}

h1 {
text-align: center;
color: #ff4fa3;
}

.seccion-input {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

input {
flex: 1;
padding: 10px;
border-radius: 8px;
border: 1px solid #ddd;
}

button {
padding: 10px 15px;
border: none;
border-radius: 8px;
background: #ff4fa3;
color: white;
cursor: pointer;
}

button:hover {
background: #ff2f8a;
}

li {
background: #ffe6f3;
padding: 12px 15px;
border-radius: 8px;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.texto-tarea{
margin-left:10px;
}

.completada {
text-decoration: line-through;
background: #e0e0e0;
color: #666;
}

li button {
margin-left: 5px;
background: #ff89c5;
}

li button:hover {
background: #ff4fa3;
}


input[type="checkbox"]{
width:18px;
height:18px;
cursor:pointer;
margin-left:5px;
}


#contador{
text-align:center;
margin-top:15px;
color:#888;
font-size:14px;
}

.botones{
display:flex;
gap:8px;
}

.tarea-izquierda{
display:flex;
align-items:center;
gap:10px;
}